.menu {
    min-inline-size: 250px;
    max-inline-size: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu__button {
    border: 1px solid black;
    color: white;
    background-image: url('https://i.pinimg.com/enabled_lo_mid/736x/b1/6b/32/b16b325d1ad4a92bb290b9be94195963.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    font-size: 20px;
    letter-spacing: 5px;
    transform: rotateZ(0deg);
    transition: color .3s, background-color .3s, transform .3s;
}

.menu__button:hover {
    color: rgb(255, 240, 105);
    background-color: white;
    cursor: pointer;
    transform: rotateZ(2deg);
}

.menu__button:focus {
    outline: none;
}

.menu__button:focus {
    outline: 1px solid white;
    outline-offset: 2px;
}