* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}

.klee-one-semibold {
  font-family: "Klee One", cursive;
  font-weight: 600;
  font-style: normal;
}

.rubik-spray-paint-regular {
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

#root {
  background-color: rgb(179, 179, 179);
}